{erl_opts, []}.

{deps, [
   datum,
   erlcloud,
   jsx,

   {serverless, ".*",
      {git, "https://github.com/fogfish/serverless", {branch, master}}
   }   
]}.

%%
%%
{escript_main_app       , test}.
{escript_emu_args       , "%%! -smp -sbt ts +A10 +K true\n"}.
{escript_incl_apps      , [lambda, datum, jsx]}.

